*, *::before, *::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /* border:2px solid yellowgreen; */
}

.row{
    display: flex;
    justify-content: space-between;
}
   

.logo{
    height: 5.5rem;   
    margin-right: 1.5rem;
}

header {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    background: #136c72;
    padding: .5em 0;
     border-bottom: 4mm ridge rgba(241, 235, 37, 0.9);
}
.nav {
    display: flex;
    justify-content:space-between;
    width: 100%;  
    flex-grow: 1;
}
.nav__item{
    margin-right: 1em;
}

.nav__list {
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
}
.nav__item--push-right {
    margin-left: auto;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;;
}
.search-box{
    background-color:white;
    display: flex;
    border-radius: 25px;
    align-items: center;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 500px;
    height: 45px;
}
.search-input{
    border: none; 
    margin-right: 16rem;  
    
}
.search-icon{
 
    color:aqua;
}

.cart-icon{
    color:aqua; 
    margin-right: 12px;
}

.material-symbols-outlined {
   font-variation-settings:
  'FILL' white,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* .marq{
    
} */