<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health2</title>
    <link rel="stylesheet" href ="../styles/index2-style.scss"> 
    <script src="https://kit.fontawesome.com/d555c42148.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="container">
            <form>
                <i class="fas fa-search"></i>
                <input type="text" name="" id="search-item" placeholder="Search-products">
                <!-- <div class="circle"></div> -->
            </form>
     
        <div class="product-list">
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/African Manback Herbal Tea Sundial.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Manback Tonic</h2>
                    <h3>$16.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Blood Sugar Formula.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Blood Sugar Formula</h2>
                    <h3>$16.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Dr. Mission.jpg"alt="tonic">
                <div class="p-details">
                    <h2>Dr. Mission Tonic</h2>
                    <h3>$14.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Immunity formula.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Immunity Formula</h2>
                    <h3>$24.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Flat Belly Tea Tonic.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Flat Belly Tea</h2>
                    <h3>$12.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Male Libido Tonic.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Male Libido Tonic</h2>
                    <h3>$12.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Wood and Root tonic Sundial.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Wood and Root Tonic</h2>
                    <h3>$12.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Natural Organic Brain Tonic.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Natural Brain Tonic</h2>
                    <h3>$12.99</h3>
                </div>
            </div>
            <div class="product">
                <img src ="images/products/Tonic Bitters Formula/Moringa Plus Bitters.jpg" alt="tonic">
                <div class="p-details">
                    <h2>Moringa Plus Bitters</h2>
                    <h3>$12.99</h3>
                </div>
            </div>
        </div>
    </div>
 </section>

    
</body>
</html>