<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health is Wealth</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../styles/base.scss">
    <script src="../js/script.js" defer></script>
</head>
<body>
  <div class="header">
     <nav>
      <img src="../media folder/images/Ujamaa Logo grn.png" alt="crl logo" class="logo"> </a> 
     <ul class="nav__list">
           <li><a href="#"> About</a></li>
           <li><a href="#">Featured</a></li>
           <li><a href="#">Contact Us</a></li>
             </ul>
             <div class="search-box">
             <input class="search-input" type="search" placeholder="Search-in-Store">
             <span class= "search-icon material-symbols-outlined">search</span>
            </div>
            <ul class="nav__list">
               <li><a href="#">Sign In</a></li> 
               <li><a href="#">Cart</a></li>
                <span class="cart-icon material-symbols-outlined">shopping_cart</span>
                <li><a href="#" onclick="Client.togglemenu()">Commmunity</a></li>
             </ul>
         <div class="dropdown-menu-wrap" id="subMenu">
          <div class="sub-triangle"onclick="Client.togglemenu()" ></div>
           <div class="dropdown-menu">
                          <img src="../media folder/images/organic ujamaa seal grn -02.svg" id="logo">
                            <div class="profile">
                                <h2>Ujamaa Health Food Store<br/><span> Crown Heights Brooklyn</span></h2><br>
                                <div class="address">
                                  <h3>406 Utica Ave. Brooklyn, Ny 11213</h3>
                                </div>
                               <div class="phone">
                                  <h3> (718) 771-8478</h3>
                                 </div>
                               <div class="store-hours">
                                  <h4>Store Opens: 7 days 
                                  M-F until 11:00 PM</h4>
                                 </div>
                            </div>
                                    
                           <div class="two-col">
                                  <div class="col">
                                     Mon  <br>
                                     Tues <br>
                                     Wed  <br>
                                     Thurs<br>
                                     Fri  <br>
                                     Sat  <br>
                                     Sun  <br>
                                  </div>
                                 <div class="col">
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm <br>
                                   10:00am -11:00pm
                                  </div> 
                            </div>
                              
                            <div class="avocado">
                                <img src="../media folder/images/fruits/avocado.png"      alt="pear">
                                    </div>
                            <div class="banana">
                                <img src="../media folder/images/fruits/Banana.png" alt="bananas">
                                   </div>
                             <div class="pineapple">
                                 <img src="../media folder/images/fruits/pineapple.png" alt="pineapple">
                                  </div>
                              <div class="soursop fruit">
                                      <img src="../media folder/images/fruits/soursop.png" alt="soursop">
                                    </div> 
                                <div class="kitchen">
                                  <h3>Kitchen Opens: 10:30am<br>
                                    Fresh Organic Soup & Patties Daily</h3>
                                   </div>
                             </section>
                             <div class="sociallink">
                              <a href="https://www.instagram.com/ujamaahealth/" target="_blank">Instagram</a>
                            </div>
                             
                            </div>
                            </div>
                          
                  </div>  
        </nav>
    </div>
  </div>
    <!-- <marquee class="marq" SCROLLAMOUNT=20> Welcome to Ujamaa Health Food Store Where Your Health is Wealth </marquee>  -->

 
 <!-- <script src="/src/client/js/script.js" type="module"></script>
 <script type="text/javascript" src="/dist/main.js">  -->

</body>
</html>




